* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

body > div {
    padding: 0 1em;
}

body > div > textarea {
    width: 100%;
    height: 25vh;
    overflow: scroll;
    white-space: pre;
}

p {
    margin: 1em 0 0;
}

.data textarea,
.output textarea {
    height: 40vh;
}

label {
    display:block;
}